<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta http-equiv="content-type" content="text/html;charset=utf-8">
    <style type = "text/css">
        /*像素实现*/
        div#wrapper{float:left;width:100%}
        div#center{margin: 0 300px 0 200px;background: purple;}
        div#right{float:left;width:300px;margin-left:-300px;background:#B9CAFF}
        div#left{float:left;width:200px;margin-left:-100%;background:#FF8539}
    </style>
</head>
<body>
<div id="container">
    <div id="wrapper"><!-- 主体文字 -->
        <div id="center"><p><strong>1) Content here.</strong></p></div>
    </div>
    <div id="right"><p><strong>2) right part here.</strong></p></div>
    <div id="left"><p><strong>3) left part here.</strong></p></div>
</div>
</body>
</html>